<div class="container-fluid">
    <div class="row">
        <div class="col divImgLeft">
            <img id="imgLoguin" src="../../../../../assets/fondoLoguin.png" alt="">
            <div class="filtro"></div>
            <div class="texto">
                <div class="titulo">Iniciar sesión</div>
                <div class="parrafo">
                    Nos alegra tenerte de vuelta y estamos listos para <br> atender tus necesidades. Inicia sesión y continúa <br> aprovechando al máximo nuestra plataforma.
                </div>
                <div class="subtitulo"> <img id="logoSubtitulo" src="../../../../../assets/logoRayo.png" alt="">Monitoreo integral</div>
                <div class="descripcion">Administra, monitorea mutiples plantas de forma centralizada</div>
                <div class="subtitulo"> <img id="logoSubtituloEstrella" src="../../../../../assets/logoEstrella.png" alt="">Notificaciones en tiempo real</div>
                <div class="descripcion">Recibi notificaciones en tiempo real sobre las mediciones</div>
            </div>
        </div>
        <div class="col divLoguinRight">
            
        </div>
    </div>
</div>