<div class="container-fluid" (click)="banderaOpciones(false, -1)">

    <div class="row divRowTarjetas">

        <div class="col divTarjeta">
            <div class="tarjeta">
                <div class="col divDatos">
                    <div class="titulo">Lecturas OK</div>
                    <div class="cantidad">{{lecturas}}</div>
                </div>
                <div class="col divIcono">
                    <img src="../../../../assets/lecturasIcono.png" alt="" class="icono">
                </div>
            </div>
        </div>
        <div class="col divTarjeta">
            <div class="tarjeta">
                <div class="col divDatos">
                    <div class="titulo">Alertas medias</div>
                    <div class="cantidad">{{alertasMedias}}</div>
                </div>
                <div class="col divIcono">
                    <img src="../../../../assets/alertasMediasIcono.png" alt="" class="icono">
                </div>
            </div>
        </div>
        <div class="col divTarjeta">
            <div class="tarjeta">
                <div class="col divDatos">
                    <div class="titulo">Alertas rojas</div>
                    <div class="cantidad">{{alertasRojas}}</div>
                </div>
                <div class="col divIcono">
                    <img src="../../../../assets/alertasRojasIcono.png" alt="" class="icono">
                </div>
            </div>
        </div>
        <div class="col divTarjeta">
            <div class="tarjeta">
                <div class="col divDatos">
                    <div class="titulo">Sensores deshabilitados</div>
                    <div class="cantidad">{{sensoresDeshabilitados}}</div>
                </div>
                <div class="col divIcono">
                    <img src="../../../../assets/deshabilitadosIcono.png" alt="" class="icono">
                </div>
            </div>
        </div>
    </div>


    <div class="row divTablaPlantas" *ngIf="plantas">

        <div class="col tabla">
            <div class="row rowTituloTabla">
                <div class="tituloTabla">Plantas</div>
                <div class="divButtonCrearPlanta">
                    <button id="buttonCrearPlanta" (click)="cambiarBanderaModal(true); $event.stopPropagation()">+ Crear
                        nueva planta</button>
                </div>
            </div>

            <div class="containerTabla">
                <table>
                    <thead>
                        <tr>
                            <th>Pais</th>
                            <th>Nombre de la planta</th>
                            <th>Lecturas</th>
                            <th>Alertas medias</th>
                            <th>Alertas rojas</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="fila" *ngFor="let planta of plantas, let i = index">
                            <td >
                                <div class="divBandera">
                                        <img class="bandera" [src]="'https://flagcdn.com/w40/' + planta.codigo + '.png'" alt="">
                                        <div class="nombrePais">{{planta.pais}}</div>
                                </div>
                            </td>
                            <td>{{planta.nombre}}</td>
                            <td>{{planta.lecturas}}</td>
                            <td>{{planta.alertasMedias}}</td>
                            <td>{{planta.alertasRojas}}</td>
                            <td class="colOpciones">
                                <img class="iconoOpciones" *ngIf="indice!=i+1"
                                    (click)="banderaOpciones(true, i+1, $event)" id="tresPuntosOpciones"
                                    src="../../../../assets/opcionesIcono.png" alt="">
                                <div class="opciones" *ngIf="bandera && indice==i+1">
                                    <button class="botonOpciones botonEditar">
                                        <img src="../../../../assets/editarIcono.png" alt="" title="EDITAR"
                                            class="iconoOpciones">
                                    </button>
                                    <button class="botonOpciones botonEliminar"
                                        (click)="eliminarPlanta(planta.id) ; $event.stopPropagation()">
                                        <img src="../../../../assets/eliminarIcono.png" alt="" title="ELIMINAR"
                                            class="iconoOpciones">
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


    <div class="row divRowIndicadores">
        <div class="col divIndicador" *ngFor="let indicador of indicadores[0]">
            <div class="indicador">
                <div class="row" style="height: 100%">
                    <div class="col-8 divDatosIndicador">
                        <div class="row">
                            <div class="tituloIndicador">{{indicador.nombre}}</div>
                        </div>
                        <div class="row">
                            <div class="col divIconoChicoIndicador" *ngFor="let item of items">
                                <img class="iconoChicoIndicadores" [src]="item.icono" alt="">
                                <div class="cantidadIndicador">{{item.cantidad}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 divIconoGrandeIndicador">
                        <img class="iconoGrandeIndicadores" [src]="indicador.icono" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row divRowIndicadores">
        <div class="col divIndicador" *ngFor="let indicador of indicadores[1]">
            <div class="indicador">
                <div class="row" style="height: 100%">
                    <div class="col-8 divDatosIndicador">
                        <div class="row">
                            <div class="tituloIndicador">{{indicador.nombre}}</div>
                        </div>
                        <div class="row">
                            <div class="col divIconoChicoIndicador" *ngFor="let item of items">
                                <img class="iconoChicoIndicadores" [src]="item.icono" alt="">
                                <div class="cantidadIndicador">{{item.cantidad}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 divIconoGrandeIndicador">
                        <img class="iconoGrandeIndicadores" [src]="indicador.icono" alt="">
                    </div>
                </div>
            </div>
        </div>
        
    </div>


    <div class="containerModal" *ngIf="banderaModalCrear">
        <div class="divModalCrearPlanta">
            <form [formGroup]="formulario">
                <div class="tituloModalCrear">Crear nueva planta</div>

                <label class="labelCrear" for="nombrePlantaCrear">Nombre Planta</label>
                <input type="text" class="inputPlantaCrear" placeholder="Ingrese nombre" formControlName="nombrePlanta">
                <div class="alert moverAlerta alert-danger"
                    *ngIf="formulario.get('nombrePlanta')?.touched && formulario.get('nombrePlanta')?.errors?.['required']">
                    Este campo es obligatorio
                </div>

                <label class="labelCrear" for="paisCrearPlanta">País</label>
                <select class="inputPlantaCrear" name="paises" id="paisCrearPlanta" formControlName="pais">
                    <option value="" disabled selected>Seleccione un país</option>
                    <option *ngFor="let pais of paisesFormateados" value="{{pais.nombre}}">{{pais.nombre}}</option>

                </select>
                <div class="alert moverAlerta alert-danger"
                    *ngIf="formulario.get('pais')?.touched && formulario.get('pais')?.errors?.['required']">
                    Este campo es obligatorio
                </div>

                <div class="containerBotones">
                    <button class="botonModal botonModalCrear" (click)="cambiarBanderaModal(false)">Cancelar</button>
                    <button class="botonModal botonModalCancelar"
                        (click)="crearNuevaPlanta() ; $event.stopPropagation()"
                        [disabled]="formulario.invalid">Crear</button>
                </div>

            </form>
        </div>
        <div class="divModalEditarPlanta">

        </div>
    </div>

    <div class="divNotificacion" *ngIf="respuestaBackend">
        <div class="notificacion">
            {{respuestaBackend}}
        </div>
    </div>

</div>