<div class="container-fluid" (click)="banderaOpciones(false, -1)">

    <div class="row divRowTarjetas">

        <div class="col-sm-3 col-12 divTarjeta">
            <div class="tarjeta">
                <div class="col divDatos">
                    <div class="titulo">Lecturas OK</div>
                    <div class="cantidad">{{lecturas}}</div>
                </div>
                <div class="col divIcono">
                    <img src="../../../../assets/lecturasIcono.png" alt="" class="icono">
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-12 divTarjeta">
            <div class="tarjeta">
                <div class="col divDatos">
                    <div class="titulo">Alertas medias</div>
                    <div class="cantidad">{{alertasMedias}}</div>
                </div>
                <div class="col divIcono">
                    <img src="../../../../assets/alertasMediasIcono.png" alt="" class="icono">
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-12 divTarjeta">
            <div class="tarjeta">
                <div class="col divDatos">
                    <div class="titulo">Alertas rojas</div>
                    <div class="cantidad">{{alertasRojas}}</div>
                </div>
                <div class="col divIcono">
                    <img src="../../../../assets/alertasRojasIcono.png" alt="" class="icono">
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-12 divTarjeta">
            <div class="tarjeta">
                <div class="col divDatos">
                    <div class="titulo">Sensores deshabilitados</div>
                    <div class="cantidad">{{sensoresDeshabilitados}}</div>
                </div>
                <div class="col divIcono">
                    <img src="../../../../assets/deshabilitadosIcono.png" alt="" class="icono">
                </div>
            </div>
        </div>
    </div>


    <div class="row divTablaPlantas" *ngIf="plantas">

        <div class="col tabla">
            <div class="row rowTituloTabla">
                <div class="tituloTabla">Plantas</div>
                <div class="divButtonCrearPlanta">
                    <button id="buttonCrearPlanta" (click)="cambiarBanderaModalCrear(true); $event.stopPropagation()">+
                        Crear
                        nueva planta</button>
                </div>
            </div>

            <div class="containerTabla">
                <table>
                    <thead>
                        <tr>
                            <th>Pais</th>
                            <th>Nombre de la planta</th>
                            <th>Lecturas</th>
                            <th>Alertas medias</th>
                            <th>Alertas rojas</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="fila" *ngFor="let planta of plantas, let i = index">
                            <td>
                                <div class="divBandera">
                                    <div class="divBanderaMobile">
                                        <img class="bandera" [src]="'https://flagcdn.com/w40/' + planta.codigo + '.png'"
                                        alt="">
                                        <div class="nombrePais">{{planta.pais}}</div>
                                    </div>
                                    <div class="nombrePais nombrePaisMobile">{{planta.nombre}}</div>
                                </div>
                            </td>
                            <td class="nombrePaisDesktop" >{{planta.nombre}}</td>
                            <td class="lecturaMobileRojo" >{{planta.lecturas}}</td>
                            <td class="lecturaMobileRojo" >{{planta.alertasMedias}}</td>
                            <td class="lecturaMobileRojo" >{{planta.alertasRojas}}</td>
                            <td class="colOpciones">
                                <img class="iconoOpciones" *ngIf="indice!=i+1"
                                    (click)="banderaOpciones(true, i+1, $event)" id="tresPuntosOpciones"
                                    src="../../../../assets/opcionesIcono.png" alt="">
                                <div class="opciones" *ngIf="bandera && indice==i+1">
                                    <button class="botonOpciones botonEditar">
                                        <img src="../../../../assets/editarIcono.png" alt="" title="EDITAR"
                                            (click)="cambiarBanderaModalEditar(true); guardarPlantaSeleccionada(planta) ; $event.stopPropagation()"
                                            class="iconoOpciones">
                                    </button>
                                    <button class="botonOpciones botonEliminar"
                                        (click)="eliminarPlanta(planta.id) ; $event.stopPropagation()">
                                        <img src="../../../../assets/eliminarIcono.png" alt="" title="ELIMINAR"
                                            class="iconoOpciones">
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


    <div class="row divRowIndicadores">
        <div class="col divIndicador" *ngFor="let indicador of indicadores[0]">
            <div class="indicador">
                <div class="row" style="height: 100%">
                    <div class="col-8 divDatosIndicador">
                        <div class="row">
                            <div class="tituloIndicador">{{indicador.nombre}}</div>
                        </div>
                        <div class="row">
                            <div class="col divIconoChicoIndicador" *ngFor="let item of items">
                                <img class="iconoChicoIndicadores" [src]="item.icono" alt="">
                                <div class="cantidadIndicador">{{item.cantidad}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 divIconoGrandeIndicador">
                        <img class="iconoGrandeIndicadores" [src]="indicador.icono" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row divRowIndicadores">
        <div class="col divIndicador" *ngFor="let indicador of indicadores[1]">
            <div class="indicador">
                <div class="row" style="height: 100%">
                    <div class="col-8 divDatosIndicador">
                        <div class="row">
                            <div class="tituloIndicador">{{indicador.nombre}}</div>
                        </div>
                        <div class="row">
                            <div class="col divIconoChicoIndicador" *ngFor="let item of items">
                                <img class="iconoChicoIndicadores" [src]="item.icono" alt="">
                                <div class="cantidadIndicador">{{item.cantidad}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 divIconoGrandeIndicador">
                        <img class="iconoGrandeIndicadores" [src]="indicador.icono" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="containerModal" *ngIf="banderaModalCrear || banderaModalEditar">

        <div class="divModal divModalCrear" *ngIf="banderaModalCrear">
            <form [formGroup]="formularioCrear">
                <div class="tituloModal">Crear nueva planta</div>

                <label class="labelModal  labelCrear" for="nombrePlantaCrear">Nombre Planta</label>
                <input type="text" class="inputPlantaCrear inputPlantaModal" placeholder="Ingrese nombre"
                    formControlName="nombrePlanta">
                <div class="alert moverAlerta alert-danger"
                    *ngIf="formularioCrear.get('nombrePlanta')?.touched && formularioCrear.get('nombrePlanta')?.errors?.['required']">
                    Este campo es obligatorio
                </div>

                <label class="labelModal labelCrear" for="paisCrearPlanta">País</label>
                <select class="inputPlantaCrear inputPlantaModal" name="paises" id="paisCrearPlanta"
                    formControlName="pais">
                    <option value="" disabled selected>Seleccione un país</option>
                    <option *ngFor="let pais of paisesFormateados" value="{{pais.nombre}}">{{pais.nombre}}</option>

                </select>
                <div class="alert moverAlerta alert-danger"
                    *ngIf="formularioCrear.get('pais')?.touched && formularioCrear.get('pais')?.errors?.['required']">
                    Este campo es obligatorio
                </div>

                <div class="containerBotones">
                    <button class="botonModal botonModalCancelar"
                        (click)="cambiarBanderaModalCrear(false)">Cancelar</button>
                    <button class="botonModal botonModalCrear" (click)="crearNuevaPlanta() ; $event.stopPropagation()"
                        [disabled]="formularioCrear.invalid">Crear</button>
                </div>

            </form>
        </div>

        <div class="divModal" *ngIf="banderaModalEditar">
            <form [formGroup]="formularioEditar">
                <div class="tituloModal">Editar planta</div>

                <div class="row">
                    <div class="col  colModal">
                        <label class="labelModal" for="nombrePlantaEditar">Nombre Planta</label>
                        <input type="text" class="inputPlantaModal" id="nombrePlantaEditar" placeholder="Ingrese nombre"
                            formControlName="nombrePlantaEditar">
                        <div class="alert moverAlerta alert-danger"
                            *ngIf="formularioEditar.get('nombrePlantaEditar')?.touched && formularioEditar.get('nombrePlantaEditar')?.errors?.['required']">
                            Este campo es obligatorio
                        </div>
                    </div>

                    <div class="col  colModal">
                        <label class="labelModal" for="paisPlantaEditar">País</label>
                        <select class="inputPlantaModal" name="paises" id="paisPlantaEditar" formControlName="paisEditar">
                            <option value="" disabled selected>Seleccione un país</option>
                            <option class="optionPaises" *ngFor="let pais of paisesFormateados" value="{{pais.nombre}}">{{pais.nombre}}
                            </option>
                        </select>
                        <div class="alert moverAlerta alert-danger"
                            *ngIf="formularioEditar.get('paisEditar')?.touched && formularioEditar.get('paisEditar')?.errors?.['required']">
                            Este campo es obligatorio
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col  colModal">
                        <label class="labelModal" for="lecturasEditar">Cantidad de lecturas</label>
                        <input type="number" class="inputPlantaModal" placeholder="Ingrese" id="lecturasEditar"
                            formControlName="lecturasEditar">
                        <div class="alert moverAlerta alert-danger"
                            *ngIf="formularioEditar.get('lecturasEditar')?.touched && formularioEditar.get('lecturasEditar')?.errors?.['required']">
                            Este campo es obligatorio
                        </div>
                        <div class="alert moverAlerta alert-danger"
                            *ngIf="formularioEditar.get('lecturasEditar')?.touched && formularioEditar.get('lecturasEditar')?.errors?.['min']">
                            Ingrese valor positivo. 
                        </div>
                    </div>

                    <div class="col  colModal">
                        <label class="labelModal" for="sensoresDeshablitadosEditar">Sensores deshabilitados</label>
                        <input type="number" class="inputPlantaModal" id="sensoresDeshablitadosEditar" placeholder="Ingrese"
                            formControlName="sensoresDeshablitadosEditar">
                        <div class="alert moverAlerta alert-danger"
                            *ngIf="formularioEditar.get('sensoresDeshablitadosEditar')?.touched && formularioEditar.get('sensoresDeshablitadosEditar')?.errors?.['required']">
                            Este campo es obligatorio
                        </div>
                        <div class="alert moverAlerta alert-danger"
                            *ngIf="formularioEditar.get('sensoresDeshablitadosEditar')?.touched && formularioEditar.get('sensoresDeshablitadosEditar')?.errors?.['min']">
                            Ingrese valor positivo.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col  colModal">
                        <label class="labelModal" for="alertasMediasEditar">Alertas medias</label>
                        <input type="number" class="inputPlantaModal" id="alertasMediasEditar" placeholder="Ingrese"
                            formControlName="alertasMediasEditar">
                        <div class="alert moverAlerta alert-danger"
                            *ngIf="formularioEditar.get('alertasMediasEditar')?.touched && formularioEditar.get('alertasMediasEditar')?.errors?.['required']">
                            Este campo es obligatorio
                        </div>
                        <div class="alert moverAlerta alert-danger"
                            *ngIf="formularioEditar.get('alertasMediasEditar')?.touched && formularioEditar.get('alertasMediasEditar')?.errors?.['min']">
                            Ingrese valor positivo.
                        </div>
                    </div>

                    <div class="col  colModal">
                        <label class="labelModal" for="alertasRojasEditar">Alertas rojas</label>
                        <input type="number" class="inputPlantaModal" id="alertasRojasEditar" placeholder="Ingrese"
                            formControlName="alertasRojasEditar">
                        <div class="alert moverAlerta alert-danger"
                            *ngIf="formularioEditar.get('alertasRojasEditar')?.touched && formularioEditar.get('alertasRojasEditar')?.errors?.['required']">
                            Este campo es obligatorio
                        </div>
                        <div class="alert moverAlerta alert-danger"
                            *ngIf="formularioEditar.get('alertasRojasEditar')?.touched && formularioEditar.get('alertasRojasEditar')?.errors?.['min']">
                            Ingrese valor positivo.
                        </div>
                    </div>
                </div>


                <div class="containerBotones">
                    <button class="botonModal botonModalCancelar"
                        (click)="cambiarBanderaModalEditar(false)">Cancelar</button>
                    <button class="botonModal botonModalCrear" (click)="editarPlanta() ; $event.stopPropagation()"
                        [disabled]="formularioEditar.invalid">Guardar cambios</button>
                </div>

            </form>
        </div>
    </div>

    <div class="divNotificacion" *ngIf="respuestaBackend">
        <div class="notificacion">
            {{respuestaBackend}}
        </div>
    </div>

</div>