*{
    padding: 0;
    margin: 0;
}

.container-fluid{
    height: auto;
    min-height: 100%;
    width: auto;
    min-width: 100%;
    padding-bottom: 30px;
}


/*tarjetas*/
.divRowTarjetas{
    height: auto;
    width: auto;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 15px;
}

.divTarjeta{
    height: 110px;
    padding: 10px;
}

.tarjeta{
    height: 100%;
    width: 100%;
    background: var(--color-secundario );
    border-radius: 15px;
    font-family: var(--font-family-primary);
    display: flex;
    align-items: center;
}

.divDatos{
    padding-left: 15px;
}

.titulo{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #8E8EA1;
}

.cantidad{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #22242C;
}

.divIcono{
    padding-right: 15px;
    display: flex;
    justify-content: right;
}

.icono{
    width: 60px;
}

/*tabla*/
table{
    width: 100%;
    table-layout: auto;
}

.divTablaPlantas{
    height: auto;
    width: 100%;
    padding-left: 40px;
    padding-right: 60px;
    padding-bottom: 15px;
    font-family: var(--font-family-primary);
}

.tabla{
    border-radius: 15px;
    background: var(--color-secundario);
    padding-left: 20px;
    padding-right: 20px;
}

.containerTabla{
    overflow: hidden;
    height: 350px;
    overflow-y: auto;
    padding-bottom: 20px;
}

td{
    padding-top: 30px;
}

.rowTituloTabla{
    height: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #F3F6F7;
}

.divButtonCrearPlanta{
    width: min-content;
    padding-left: 20px;
}

#buttonCrearPlanta{
    border-radius: 5px;
    border: 1px solid #B0CAD1;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background: var(--color-secundario);
    width: min-content;
    white-space: nowrap;
}

.tituloTabla{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    width: min-content;
    padding-left: 20px;
    display: flex;
    align-items: flex-end;
}

.iconoOpciones{
    height: 20px;
    width: min-content;
}

.colOpciones{
    display: flex;
    justify-content: center;
}

.botonOpciones{
    background: none;
    border: none;
    height: min-content;
    width: min-content;
}

.botonEditar:hover{
    transform: scale(1.2);
}

.botonEliminar{
    z-index: 10;
    padding-left: 15px;
}

.botonEliminar:hover{
    transform: scale(1.2);
}

.divBandera{
    display: flex;
    flex-direction: row;
}

.bandera{
    width: 30px;
    border-radius: 5px;
}

.nombrePais{
    padding-left: 10px;
    
}

/*indicadres*/
.divRowIndicadores{
    height: auto;
    width: 100%;
    padding-left: 30px;
    padding-right: 50px;
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 10px;
}

.divIndicador{
    height: auto;
    padding: 10px;
}

.indicador{
    height: 90px;
    border-radius: 15px;
    background: var(--color-secundario);
}

.divIconoChicoIndicador{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconoChicoIndicadores{
    width: 14px;
    height: 14px;
}

.divIconoGrandeIndicador{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconoGrandeIndicadores{
    width: 60px;
    height: 60px;
}

.cantidadIndicador{
    color: #000000;
    padding-left: 5px;
}

.tituloIndicador{
    color: #8E8EA1;
}

.divDatosIndicador{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-left: 20px;
}

/*MODAL PARA CREAR PLANTA*/

.containerModal{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #00000059;
    top: 0;
    left: 0;
    z-index: 50;
    font-family: var(--font-family-primary);
}

.divModal{
    width: auto;
    height: auto;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    background: #FFFFFF;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.divModalCrear{
    max-width: 380px;
}

.tituloModal, .labelCrear, .inputPlantaCrear, #paisCrearPlanta, .containerBotones{
    width: 100%;
}

.tituloModal{
    color: #000000;
}

.optionPaises{
    width: 10px;
    white-space: normal;
}

.labelModal{
    color: #838B9E;
    padding-top: 20px;
    padding-bottom: 5px;
}

.inputPlantaModal{
    height: 42px;
    border-radius: 7.43px;
    border: 0.93px solid #C6C9D2;
    padding-left: 20px;
}

.containerBotones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.botonModal{
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
}

.botonModalCancelar{
    color: #33A3AA;
    border: 1px solid #33A3AA ;
    margin-right: 5px;
    background: var(--color-secundario);
}

.botonModalCrear{
    background: #33A3AA;
    color: #FFFFFF;
    margin-left: 5px;
    border: none;
}

.colModal{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

/*ALERTA*/
.divNotificacion{
    position: fixed;
    top: 20px;
    right: 20px;
    height: 30px;
    width: min-content;
    padding: 20px;
    background: #a4df96;
    color: rgb(41, 41, 41);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 10px solid green;
    z-index: 200;
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-weight:400;
}

.nombrePaisMobile{
    display: none;
}
.divBanderaMobile{
    display: flex;
    flex-direction: row;
 }

/*CONF PARA VISTA MOBILE*/

@media screen and (max-width: 768px){
 .divRowTarjetas{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
 }
 .divTablaPlantas{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
 }
 .divRowIndicadores{
    display: none;
 }
 .divBandera{
  flex-direction: column;  
  align-items: center;
 }
 th{
    display: none;
 }
 .nombrePaisMobile{
    display: block;
 }
 .nombrePaisDesktop{
    display: none;
 }
 .lecturaMobileRojo{
    color: red;
 }

}

@media screen and (max-width: 576px){
    .divModal{
        width: 90%;
    }
    .containerBotones{
        flex-direction: column;
        align-items: center;
    }
    .botonModalCancelar{
        margin-right: 0;
    }
    .botonModalCrear{
        margin-left: 0;
        margin-top: 20px;
    }
    .botonModal{
        width: 60%;
    }
}
