<div class="container-fluid">
    <div class="container-perfil">
        <div class="row">
            <div class="row divPerfil">
                <div class="divIcono">
                    <img id="usuarioIcono" src="../../../../assets/usuarioIcono.png" alt="">
                </div>
                <div class="divNombre">
                    {{nombre}}{{apellido}}
                </div>
            </div>
            <form [formGroup]="formulario" >
                <div class="row divDatos">

                    <div class="col columna">

                        <mat-form-field appearance="outline" style="margin-top: 15px;">
                            <mat-label class="label" for="nombre">Nombre</mat-label>
                            <input matInput class="input" id="nombre" type="text" name="nombre"
                                placeholder="Ingrese su nombre" formControlName="nombre">
                        </mat-form-field>
                        <div class="alert moverAlerta alert-danger"
                            *ngIf="formulario.get('nombre')?.touched && formulario.get('nombre')?.errors?.['required']">
                            Este campo es obligatorio
                        </div>

                        <mat-form-field appearance="outline" style="margin-top: 15px;">
                            <mat-label class="label">Fecha de nacimiento</mat-label>
                            <input matInput [matDatepicker]="selector" readonly formControlName="nacimiento">
                            <mat-datepicker-toggle matIconSuffix [for]="selector"> </mat-datepicker-toggle>
                            <mat-datepicker #selector> </mat-datepicker>
                            <!-- para la vista mobile agregar touchUi en esta etiqueta touchUi={{touchUi}} -->
                        </mat-form-field>
                        <div class="alert moverAlerta alert-danger"
                            *ngIf="formulario.get('nacimiento')?.touched && formulario.get('nacimiento')?.errors?.['required']">
                            Este campo es obligatorio
                        </div>

                    </div>

                    <div class="col columna">

                        <mat-form-field appearance="outline" style="margin-top: 15px;">
                            <mat-label class="label" for="apellido">Apellido</mat-label>
                            <input matInput class="input" id="apellido" type="text" name="apellido"
                                placeholder="Ingrese su apellido" formControlName="apellido">
                        </mat-form-field>
                        <div class="alert moverAlerta alert-danger"
                            *ngIf="formulario.get('apellido')?.touched && formulario.get('apellido')?.errors?.['required']">
                            Este campo es obligatorio
                        </div>

                        <mat-form-field appearance="outline" style="margin-top: 15px;">
                            <mat-label class="label" for="email">Email</mat-label>
                            <input matInput class="input" id="email" type="text" name="email"
                                placeholder="Ingrese su email" formControlName="email">
                        </mat-form-field>
                        <div class="alert moverAlerta alert-danger"
                            *ngIf="formulario.get('email')?.touched && formulario.get('email')?.errors?.['required']">
                            Este campo es obligatorio
                        </div>
                        <div class="alert moverAlerta alert-danger"
                            *ngIf="formulario.get('email')?.touched && formulario.get('email')?.errors?.['email']">
                            Formato de email inválido
                        </div>


                    </div>

                    <div class="row divBoton">
                        <div class="col  boton">
                            <button [disabled]="formulario.invalid" id="botonIniciarSesion" (click)="actualizar()" >Guardar cambios</button>
                            <button [disabled]="formulario.invalid" id="botonEliminarUsuario" (click)="borrarUsuario()" >Eliminar usuario</button>
                        </div>
                        <div class="col containerMensaje" *ngIf="mensajesErrorBackend.length > 0">
                            <div class="divMensaje" [ngClass]="banderaMensaje? 'divMensajeOk':'divMensajeError'" >
                                <div class="divIcono">
                                    <img id="icono" [src]="banderaMensaje? '../../../../assets/tildeOkIcono.png':'../../../../assets/errorIcono.png'" alt="">
                                </div>
                                <div *ngFor="let error of mensajesErrorBackend" class="mensajeError">
                                    {{error}}
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>