<div class="container-fluid">
    <div class="divMenuIcono" (click)="cambiarBanderaMenu(true)" >
        <img src="../../../assets/menuIcono.png" alt="" id="iconoMenu">
    </div>
    <div class="divContainerAll" (click)="cambiarBanderaMenu(false); $event.stopPropagation()">
        <div class="divSideNav" [ngClass]="banderaMenu? 'menuOn':'menuOf'" >
            <app-side-nav></app-side-nav>
        </div>
        <div class="divNavBarRouterOutlet">
            <div class="divNavBar">
                <app-nav-bar></app-nav-bar>
            </div>
            <div class="divRouterOutlet">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>