*{
    padding: 0;
    margin: 0;
}

.container-fluid{
    height: min-content;
    background: var(--color-primario);
    position: relative;
}

.divContainerAll{
    display: flex;
    flex-direction: row;
    height: min-content;
}

.divSideNav{
    width: 80px;
    height: auto;
    z-index: 10;
}

.divNavBarRouterOutlet{
    height: min-content;
    width: calc(100vw - 80px);
}

.divNavBar{
    height: 95px;
    width: 100%;
}

.divRouterOutlet{
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

